{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-control-statements",
    "flowtype"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": false
  },
  "extends": ["eslint:recommended", "plugin:jsx-control-statements/recommended"],
  "root": true,
  "rules": {
    "accessor-pairs": ["error", { "getWithoutSet": false }],
    "array-bracket-spacing": ["error", "never"],
    "arrow-parens":["error", "always"],
    "arrow-spacing": "error",
    "block-scoped-var": "error",
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs"],
    "callback-return": "error",
    "camelcase": "off",
    "comma-dangle": "error",
    "comma-spacing": "error",
    "comma-style": ["error", "last"],
    "complexity": ["warn", 20],
    "computed-property-spacing": ["error", "never"],
    "consistent-return": "off",
    "consistent-this": ["error", "self"],
    "curly": "error",
    "default-case": "error",
    "dot-location": ["error", "property"],
    "dot-notation": ["error", { "allowKeywords": true }],
    "eol-last": "error",
    "jsx-quotes": "warn",
    "eqeqeq": "error",
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "generator-star-spacing": ["error", { "before": true, "after": true }],
    "guard-for-in": "error",
    "handle-callback-err": ["error", "^(err|error)$"],
    "indent": ["error", 2],
    "init-declarations": ["error", "always"],
    "jsx-control-statements/jsx-choose-not-empty": "warn",
    "jsx-control-statements/jsx-for-require-each": "warn",
    "jsx-control-statements/jsx-for-require-of": "warn",
    "jsx-control-statements/jsx-if-require-condition": "warn",
    "jsx-control-statements/jsx-otherwise-once-last": "warn",
    "jsx-control-statements/jsx-use-if-tag": "off",
    "jsx-control-statements/jsx-when-require-condition": "warn",
    "jsx-control-statements/jsx-jcs-no-undef": "warn",
    "key-spacing": "error",
    "keyword-spacing": ["error"],
    "linebreak-style": ["error", "unix"],
    "lines-around-comment": ["error", { "beforeBlockComment": true }],
    "max-nested-callbacks": ["error", 4],
    "new-cap": "off",
    "new-parens": "error",
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-caller": "error",
    "no-case-declarations": "warn",
    "no-catch-shadow": "error",
    "no-cond-assign": "error",
    "no-console": "warn",
    "no-constant-condition": "error",
    "no-const-assign": "error",
    "no-continue": "error",
    "no-control-regex": "error",
    "no-debugger": "warn",
    "no-delete-var": "error",
    "no-div-regex": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-else-return": "error",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": "off",
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-func-assign": "error",
    "no-implied-eval": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-mixed-requires": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-native-reassign": "error",
    "no-negated-in-lhs": "error",
    "no-nested-ternary": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-require": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-path-concat": "error",
    "no-process-env": "off",
    "no-process-exit": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-regex-spaces": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow-restricted-names": "error",
    "no-shadow": "error",
    "no-spaced-func": "error",
    "no-sparse-arrays": "error",
    "no-sync": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef-init": "error",
    "no-undef": "error",
    "no-underscore-dangle": ["error", { "allow": ["_."] }],
    "no-unexpected-multiline": "error",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-unused-vars": "warn",
    "no-unused-expressions": "error",
    "no-use-before-define": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "off",
    "no-var": "error",
    "no-void": "error",
    "no-warning-comments": "warn",
    "no-with": "error",
    "object-curly-spacing": ["error", "always", { "objectsInObjects": true, "arraysInObjects": true }],
    "object-shorthand": ["error", "always"],
    "one-var": ["error", "never"],
    "operator-linebreak": ["error", "after"],
    "padded-blocks": ["error", { "blocks": "never" }],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single"],
    "react/display-name": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-curly-spacing": "warn",
    "react/jsx-equals-spacing": "warn",
    "react/jsx-handler-names": "off",
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-key": "warn",
    "react/jsx-max-props-per-line": ["warn", { "maximum" : 5 }],
    "react/jsx-no-bind": "off",
    "react/jsx-no-duplicate-props": "warn",
    "react/jsx-no-literals": "off",
    "react/jsx-no-undef": "warn",
    "react/jsx-pascal-case": "off",
    "react/jsx-sort-props": "off",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/no-danger": "warn",
    "react/no-deprecated": "warn",
    "react/no-did-mount-set-state": "warn",
    "react/no-did-update-set-state": "warn",
    "react/no-direct-mutation-state": "warn",
    "react/no-is-mounted": "warn",
    "react/no-multi-comp": "warn",
    "react/no-set-state": "off",
    "react/no-string-refs": "off",
    "react/no-unknown-property": "warn",
    "react/prefer-es6-class": "warn",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "warn",
    "react/self-closing-comp": "warn",
    "react/sort-comp": "warn",
    "semi-spacing": "error",
    "semi": "error",
    "sort-vars": "warn",
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": ["error", "always"],
    "strict": ["error", "global"],
    "use-isnan": "error",
    "valid-jsdoc": "error",
    "valid-typeof": "error",
    "wrap-iife": ["error", "inside"],
    "wrap-regex": "error",
    "yoda": ["error", "never"]
  }
}
