:root {
  /*Colors*/
  --green: #74fd93;
  --red: #f16c6c;
  --purple: #9100ff;
  --white: #F5F5F5;
  --text:  #2c3e50;
  --gradient: linear-gradient(45deg, #f16c6c, #9100ff);

  /*Typography*/
  --font: 'Major Mono Display', monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  font-size: 2rem;
  font-family: var(--font);
  color: var(--text);
}

.App {
  text-align: center;
  height: 100vh;
  transition: 1s;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.App--pass {
  animation-name: pass;
}

.App--fail {
  animation-name: fail;
}

button {
  background: var(--gradient);
  font-family: var(--font);
  font-size: 2.6rem;
  border: none;
  color: var(--white);
}

button[disabled] {
  opacity: 0.8;
  background: linear-gradient(-45deg, #c16c6c, #5100ff);
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: .4em 0;
}

p {
  font-size: 1em;
}

/* The animation code */
@keyframes pass {
  0% {
    background-color: var(--green);
  }

  100% {
    background-color: white;
  }
}

@keyframes fail {
  0% {
    background-color: var(--red)
  }

  100%% {
    background-color: white
  }
}