.Toolbar {
  background: var(--red-transparent);
  position: absolute;
  width: var(--toolbar-width);
  top: 0;
  height: 100vh;
  padding: 1rem;
  /*foreal!?*/
  right: calc( -1 * var(--toolbar-width));
  transition: 400ms right ease-in-out;
  z-index: var(--layer-2);
}

.Toolbar[active]{
  right: 0;
  overflow-y: auto;
}

.Toolbar__toggle {
  left: -4rem;
  text-align: center;
  width: 4rem;
  top: 1.8rem;
  background: var(--red);
  height: 4rem;
  transform: rotate(-90deg);
  position: absolute;
  font-family: var(--body-font);
  font-size: 2rem;
  border-radius: .4rem .4rem 0 0;
  border: none;
  outline: none;
}

.Toolbar__toggle:hover,
.Toolbar__toggle:focus,
.Toolbar__toggle:active {
  filter: brightness(120%);
  cursor: pointer;
}

.Toolbar__text {
  text-align: left;
}