/* Button Reset and Custom */
.button {
  background: linear-gradient(-45deg, #c16c6c, #5100ff);
  font-size: 2.6rem;
  border: none;
  color: var(--white);
  cursor: crosshair;
}

.button[disabled] {
  opacity: 0.8;
  background: var(--gradient);
  cursor: not-allowed;
}

@for $i from 0 to 9 {
  .button[data-num="$i"] {
    color: var(--button-color-$i)
   }
}