.Scoreboard {
  display: flex;
  align-self: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 8vh;
  height: 12vh;
  position: relative;
  z-index: var(--layer-2);
}

.Scoreboard__tile {
  padding: 0 8px;
}