:root {
  /*Colors*/
  --green:           #74fd93;
  --red:             #f16c6c;
  --red-transparent: #f16c6cee;
  --purple:          #9100ff;
  --white:           #F5F5F5;
  --slate:           #2c3e50;
  --gradient:        linear-gradient(45deg, #ffdddd, #ffa1e9);

  --button-color-0: #e75656;
  --button-color-1: #fffa98;
  --button-color-2: #f1ea62;
  --button-color-3: #36ece6;
  --button-color-4: #28e0da;
  --button-color-5: #64aee7;
  --button-color-6: #2699f1;
  --button-color-7: #3edb63;
  --button-color-8: #11e943;
  --button-color-9: #f53ec4;
  --button-gradient-active: linear-gradient(-45deg, #c16c6c, #5100ff);
  --button-gradient-inactive: #5100ff;
  --button-gradient-disabled: linear-gradient(-45deg, #3c0f57, #18175c);
  /*Typography*/
  --display-font: 'Major Mono Display', monospace;
  --body-font:    'Inconsolata', monospace;

  /* Sizing */
  --toolbar-width: 300px;

  /* Layers */
  --layer-neg: -1;
  --layer-0:    0;
  --layer-1:    1;
  --layer-2:    2;

  /* Animation */
  --transition: all 300ms ease-in-out;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  user-select: none;
}

body {
  font-size: 2rem;
  font-family: var(--body-font);
  color: var(--white);
  background-color: var(--slate);
}

.GradientBackground{
  background: linear-gradient(270deg, #1c0022, #002a55);
  background-size: 400% 400%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: var(--layer-neg);
  top: 0;
  animation: grashift 16s ease infinite;
}

.App {
  background: 0 0;
  height: 100vh;
  transition: 600ms ease-out;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  z-index: var(--layer-1);
}

.App__header{
  text-align: center;
  margin-top: 8rem;
  height: 12rem;
}

.App[active] {
  margin-left: calc( -1 * var(--toolbar-width));
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: .4em 0;
}
h1, button{
  font-family: var(--display-font)
}

p {
  font-size: 1em;
}

@keyframes grashift { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}