:root{
  --purple: #9100ff;
  --white: #F5F5F5;
  --gradient: linear-gradient(45deg, #f16c6c, #9100ff);
}
*{
  box-sizing: border-box;
}
html,body{
  padding: 0;
  margin: 0;
  font-size: 10px;
}
body{
  font-size: 2rem;
  /*color: var(--white);*/
}

.App {
  text-align: center;
}
button{
  /*background: var(--gradient);*/
  font-size: 3rem;
  border: none;
  padding: 2rem;
  flex-basis: 10rem;
  height: 10rem;
  /*color: var(--white);*/
}
button[disabled]{
  opacity: 0.8;
  /*background: linear-gradient(-45deg, #c16c6c, #5100ff);*/
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}