:root {
  /*Colors*/
  --green: #74fd93;
  --red: #f16c6c;
  --red-transparent: #f16c6cee;
  --purple: #9100ff;
  --white: #F5F5F5;
  --slate:  #2c3e50;
  --gradient: linear-gradient(45deg, #f16c6c, #9100ff);

  /*Typography*/
  --display-font: 'Major Mono Display', monospace;
  --body-font: 'Inconsolata', monospace;

  /* Sizing */
  --toolbar-width: 300px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  user-select: none;
}

body {
  font-size: 2rem;
  font-family: var(--body-font);
  color: var(--slate);
}

.App {
  background-size: 10vw;
  text-align: center;
  height: 100vh;
  transition: 600ms ease-out;
  position: relative;
  overflow: hidden;
}

.App[active] {
  margin-left: calc( -1 * var(--toolbar-width));
}

.App--pass {
  animation-name: pass;
}

.App--fail {
  animation-name: fail;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: .4em 0;
}
h1, button{
  font-family: var(--display-font)
}

p {
  font-size: 1em;
}

/* The animation code */
@keyframes pass {
  0% {
    background-color: var(--green);
  }

  100% {
    background-color: white;
  }
}

@keyframes fail {
  0% {
    background-color: var(--red)
  }

  100%% {
    background-color: white
  }
}